<h2>Registar usuario</3>

<% @usuario.inspect%>

<%= form_for @usuario do |f| -%>
  <% if @usuario.errors.any? %>
    <div class="error_explanation">
    <h2>Errores al procesar el formulario</h2>
      <ul>
        <% @usuario.errors.full_messages.each do |msg| %>
          <li><%= msg%> </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :email, "Email" %>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :password, "Password" %>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.label :password_confirmation, "Password _Confirmation" %>
    <%= f.password_field :password_confirmation %>
  </p>

  <p>
    <%= f.submit "Submit", class: "btn btn-success" %>
  </p>
<% end %>