<h1>Listing pruebas</h1>

<table>
  <tr>
    <th>Rut</th>
    <th>Nombre</th>
    <th>Observacion</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pruebas.each do |prueba| %>
  <tr>
    <td><%= prueba.rut %></td>
    <td><%= prueba.nombre %></td>
    <td><%= prueba.observacion %></td>
    <td><%= link_to 'Show', prueba %></td>
    <td><%= link_to 'Edit', edit_prueba_path(prueba) %></td>
    <td><%= link_to 'Destroy', prueba, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Prueba', new_prueba_path %>
