<p id="notice"><%= notice %></p>

<p>
  <b>Rut:</b>
  <%= @prueba.rut %>
</p>

<p>
  <b>Nombre:</b>
  <%= @prueba.nombre %>
</p>

<p>
  <b>Observacion:</b>
  <%= @prueba.observacion %>
</p>


<%= link_to 'Edit', edit_prueba_path(@prueba) %> |
<%= link_to 'Back', pruebas_path %>
