<!DOCTYPE html>
<html>
<head>
  <title>Myapp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav">
      <li><%= link_to "Home", root_url %></li>
      <li><%= link_to "Agregar post", new_post_path %></li>
    </ul>
  </div>
</div>

<div class="container">
  <% flash.each do |key, msg| %>
    <%= content_tag(:div, msg, class: "alert alert-#{key}")%>
  <% end %>
  <%= yield %>
</div>
<%= debug(params)%>

</body>
</html>
